body {
  width: 960px;
  height: 960px;
  margin: 0 auto;
  font-family: sans-serif;
  background-color: #e16036;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  /* gap: 0.1em; */
  /* align-items: center; */
  /* justify-content: center; */
}

.led-digit {
  width: 30%;
  height: 25%;
  display: flex;
}

.led-digit > div {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.left-led {
  justify-content: space-around;
  align-items: flex-end;
}

.middle-led {
  justify-content: space-between;
}

.right-led {
  justify-content: space-around;
}

.led {
  background-color: hsla(15,24%,60%,1.0);
  border-radius: 100%;
}

.vertical {
  width: 16%;
  height: 42%;
}

.horizontal {
  width: 100%;
  height: 6%;
}

.light-on {
  /* background-color: lightsalmon; */
  /* background-color: #d6a99a; */
  background-color: hsla(129,91%,45%,0.9);
  box-shadow: 0 0 2em hsla(129,91%,48%,1.0);

}